section.domain 
    .container  
        +blockTop("It All Starts With a Domain", "Unlock Your Digital Potential with the Right Domain")
        form.domain-form
            input(type="text" placeholder="Find Your Perfect Domain").domain-input
            button.domain-btn Search
