section.feedback 
    .container 
        +blockTop("Hear from Our Satisfied Customers", "Real Stories from Real Users")
        .feedback-container 
            .feedback-list 
                +feedbackItem("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", "Emily Nguyen", "Founder of TechFlow", "Switching to SwiftHost Solutions was a game-changer for our online business. The speed and uptime of our website have dramatically improved, resulting in better customer engagement and increased sales. Highly recommend their services!")
                    +feedbackStart
                    +feedbackStart
                    +feedbackStart
                    +feedbackStart
                    +feedbackStart
                +feedbackItem("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", "Rajesh Kumar", "IT Manager at Creative Minds", "What impresses me the most about SwiftHost is their customer service. Anytime we've had an issue or question, their team has been incredibly responsive and knowledgeable. It's comforting to know we have such reliable support.")
                    +feedbackStart
                    +feedbackStart
                    +feedbackStart
                    +feedbackStart
                    +feedbackStart
                +feedbackItem("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", "Sarah Johnson", "Digital Marketing Lead at GreenScape", "As a tech company, security and scalability are our top priorities. SwiftHost Solutions delivers on both fronts, offering robust security features and easily scalable options as our company grows. They're a key partner in our operational success.")
                    +feedbackStart
                    +feedbackStart
                    +feedbackStart
                    +feedbackStart
                    +feedbackStart
                
            .feedback-slider 
                button.feedback-btn
                    i.fa.fa-chevron-left.feedback-slider-left
                button.feedback-btn
                    i.fa.fa-chevron-right.feedback-slider-right
