section.footer 
    .container 
        .footer-top 
            .footer-top-left 
                img.footer-logo(src="../images/img-mobile-logo.png", alt="")
                p.footer-text Pioneers in High-Speed Web Hosting. At SwiftHost, we're committed to elevating your online presence with our state-of-the-art hosting services. Our mission is to deliver unparalleled hosting experiences characterized by lightning-fast speeds, rock-solid reliability, and top-tier customer support.
                .footer-social
                    a(href="#").footer-social-icon
                        img(src="../images/img-intagram.png", alt="") 
                    a(href="#").footer-social-icon
                        img(src="../images/img-x.png", alt="") 
                    a(href="#").footer-social-icon
                        img(src="../images/img-linked.png", alt="") 
                    a(href="#").footer-social-icon
                        img(src="../images/img-facebook.png", alt="") 
            .footer-top-right 
                ul.footer-list
                    li.footer-item 
                        a(href="") Home  
                    li.footer-item 
                        a(href="") Service  
                    li.footer-item 
                        a(href="") Pricing  
                    li.footer-item 
                        a(href="") About Us  
                    li.footer-item 
                        a(href="") Blog  
                    li.footer-item 
                        a(href="") Privacy Policy  
                ul.footer-list
                    li.footer-item 
                        a(href="") FAQ  
                    li.footer-item 
                        a(href="") Support Center  
                    li.footer-item 
                        a(href="") Community Forum  
                    li.footer-item 
                        a(href="") Site Map 
                    li.footer-item 
                        a(href="") Cookie Policy  
                    li.footer-item 
                        a(href="") Term Of Use
        .footer-bottom
            p.footer-bottom-text &copy; 2024 SwiftHost. All Rights Reserved.