section.header 
    .container
        .header-top
            img(src="../images/img-toggle.png" alt="").header-top-toggle
            a.header-top-logo(href="/index.html") 
                img(src="./images/img-mobile-logo.png" alt="")
            ul.header-top-nav
                li.header-top-item 
                    a(href="#") Home
                li.header-top-item 
                    a(href="#") About Us
                li.header-top-item 
                    a(href="#") Services
                li.header-top-item 
                    a(href="#") Pricing
                li.header-top-item 
                    a(href="#") Testimonial
            img(src="../images/img-user-logo.png" alt="").header-top-user 
            .header-top-auth
                a.header-top-auth-login(href="#")  Login 
                a.header-top-auth-login(href="#")  Sign Up
        .header-container
            .header-container-mobile 
                h3.header-container-title Experience Next-Generation Web Hosting with SwiftHost Solutions
                img(src="../images/img-header.png" alt="").header-container-img
                p.header-container-desc Dive into the World of Ultra-Fast Web Hosting Unleashing Superior Performance, Unmatched Reliability, and State-of-the-Art Technology to Power Your Online Presence
                form.header-container-search(action="")
                    input(type="text" placeholder= "Search Your Domain" name="search-input" autocomplete="off").header-container-search-input
                    button.header-container-search-btn Search   
            .header-container-max
                .header-container-content 
                    h3.header-container-title Experience Next-Generation Web Hosting with SwiftHost Solutions
                    p.header-container-desc Dive into the World of Ultra-Fast Web Hosting Unleashing Superior Performance, Unmatched Reliability, and State-of-the-Art Technology to Power Your Online Presence
                    form.header-container-search(action="#")
                        input(type="text" placeholder= "Search Your Domain" name="search-input" autocomplete="off").header-container-search-input
                        button.header-container-search-btn Search   
                img(src="../images/img-header.png" alt="").header-container-img