section.plan
    .container 
        +blockTop("Flexible Pricing for Every Need", "Choose the Plan That's Right for You")
        .plan-container
            +planItem()
                +planContentItem("10 GB SSD Storage")
                +planContentItem("Unmetered Bandwidth")
                +planContentItem("Free SSL Certificate")
                +planContentItem("24/7 Customer Support")
                +planContentItem("Daily Backups")
            +planItem("Business Plan", "../images/img-plan-business.png", "Starting At :", 14.99)
                +planContentItem("50 GB SSD Storage")
                +planContentItem("Unmetered Bandwidth")
                +planContentItem("Free SSL Certificate")
                +planContentItem("Priority Customer Support")
                +planContentItem("Daily Backups and Enhanced Security Features")
                +planContentItem("1 Free Domain Registration")
            +planItem("Pro Plan", "../images/img-plan-pro.png", "Starting At :", 29.99)
                +planContentItem("Unlimited SSD Storage")
                +planContentItem("Unmetered Bandwidth")
                +planContentItem("Free SSL Certificate")
                +planContentItem("Premium 24/7 Support with Dedicated Manager")
                +planContentItem("Advanced Security Suite")
                +planContentItem("Daily Backups, CDN & DDoS Protection")
                +planContentItem("2 Free Domain Registrations")
            +planItem("Custom Plan", "../images/img-plan-custom.png", "Contact")
                +planContentItem("Customizable SSD Storage and Bandwidth")
                +planContentItem("Tailored Security and Performance Features")
                +planContentItem("Personalized Support and Consultation")
                +planContentItem("Unique Requirements Fulfillment")