section.premium 
    .container  
        +blockTop("Our Premium Hosting Features", "Designed for Speed Optimized for Performance")
        .premium-container 
            img.premium-container-img(src="../images/img-premium.png" alt="")
            .premium-container-list 
                +premiumItem("../images/img-lightning-icon.png", "Lightning-Fast Load Times", "Our servers are optimized to deliver content at the speed of light, reducing load times and enhancing user experience.")
                +premiumItem("../images/img-time-icon.png", "99.99% Uptime Guarantee", "We understand the importance of availability. Our robust infrastructure ensures your website is always online.")
                +premiumItem("../images/img-shield-icon.png", "Advanced Security Protocols", "Keeping your site secure is our priority. We implement industry-leading security measures to protect your data.")
