.domain {
  background-color: #d9d5d5;
  color: $text-color !important;
  padding: 60px 0;
  &-form {
    margin: 70px auto;
    height: 78px;
    padding: 8px;
    max-width: 800px;
    border: 2px solid #0072ec;
    background-color: white;
    border-radius: 10px;
    @include flexBox();
  }
  &-input {
    @include size(100%);
    outline: none;
    border: none;
    padding-left: 40px;
    font-size: 24px;
    &::placeholder {
      color: #180d5c;
      font-size: 24px;
    }
  }
  &-btn {
    font-size: 34px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    padding: 0 65px;
    text-align: center;
    border: none;
    border-radius: 10px;
  }
  @include maxWidth(431px) {
    &-btn {
      font-size: 20px;
      padding: 0 30px;
    }
    &-input {
      padding-left: 25px;
      font-size: 14px;
      &::placeholder {
        color: #180d5c;
        font-size: 14px;
      }
    }
  }
}
