.footer {
  padding-top: 209px;
  padding-bottom: 68px;
  &-top {
    @include flexBox(center, space-between);
    &-left {
      width: 480px;
      text-align: justify;
    }
    &-right {
      @include flexBox();
      gap: 111px;
    }
  }
  &-text {
    margin: 27px 0;
    font-size: 18px;
    line-height: 1.3;
  }
  &-social {
    @include flexBox();
    gap: 61px;
  }

  &-item {
    &:not(:last-child){
        margin-bottom: 21px;
    }
    & a {
      font-weight: 600;
      font-size: 18px;
      color: white;
    }
  }
  &-bottom{
    margin-top: 23px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
  }
  @include maxWidth(768px){
    &-top{
      display: block;
      &-left{
        width: 100%;
      }
      &-right{
        justify-content: space-around;
        margin: 70px 0;
      }
    }
    &-logo{
      margin: 0 auto;
    }
    &-text{
      margin-bottom: 70px;
    }
    &-social{
      justify-content: center;
    }
  }
}
