.header {
  padding: 74px 0;
  &-top {
    @include flexBox(center, space-between);
    margin-bottom: 75px;
    &-toggle {
      display: none;
    }
    &-user {
      display: none;
    }
    &-nav {
      @include flexBox();
      gap: 33px;
      font-size: 16px;
      font-weight: 500;
    }
    &-item a {
      color: white;
    }
    &-auth-login {
      padding: 5px 20px;
      border-radius: 999999px;
      font-weight: 600;
      color: white;
      &:hover {
        color: $primary-color;
        background: linear-gradient(
          to right,
          rgba(#78ffd6, 0.8),
          rgba(#24a4ff, 0.8)
        );
      }
    }
  }
  &-container {
    &-max {
      @include flexBox(end);
    }
    &-mobile {
      display: none;
    }
    &-title {
      width: 95%;
      font-weight: bold;
      font-size: 56px;
      margin-bottom: 29px;
    }
    &-desc {
      font-size: 24px;
      margin-bottom: 88px;
    }
    &-search {
      width: 70%;
      border: 2px solid white;
      border-radius: 99999px;
      @include flexBox();
      padding: 5px;
      &-input {
        outline: none;
        border: none;
        border-radius: 99999px;
        width: 100%;
        background-color: $primary-color;
        color: white;
        padding-left: 15px;
        &::placeholder {
          color: white;
        }
      }
      &-btn {
        padding: 8px 30px;
        border: none;
        cursor: pointer;
        border-radius: 99999px;
        font-weight: bold;
        color: white;
      }
    }
  }
  @include maxWidth(1025px) {
    &-container {
      &-title {
        font-size: 50px;
      }
      &-desc {
        font-size: 20px;
        margin-bottom: 50px;
      }
    }
  }
  @include maxWidth(820px) {
    &-top {
      margin-bottom: 60px;
      &-nav {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: white;
        width: 12rem;
        display: block;
        padding: 74px 25px;
        z-index: 10;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
        &.is-expand {
          transform: translateX(0%);
        }
      }
      &-item {
        margin-bottom: 20px;
        & a {
          color: $text-color;
          font-size: 18px;
          font-weight: 700;
        }
      }
      &-auth {
        position: fixed;
        right: 0;
        top: 100px;
        bottom: 0;
        background-color: white;
        width: 12rem;
        height: fit-content;
        display: block;
        padding: 20px 25px;
        z-index: 10;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        border-radius: 9999px;
        &.is-login {
          transform: translateX(0%);
        }
        & a {
          color: $text-color;
        }
        &-login{
          padding: 0;
          &:not(:last-child){
            padding-right: 5px;
          }
          &:hover{
            background:none;
          }
        }
      }
      &-toggle {
        display: block;
        cursor: pointer;
      }
      &-user {
        display: block;
        cursor: pointer;
      }
      &-logo img {
        width: 72px;
        object-fit: cover;
      }
    }
    &-container {
      &-max {
        display: none;
      }
      &-mobile {
        display: block;
      }
      &-title {
        font-size: 24px;
        text-align: center;
      }
      &-img {
        margin: 50px auto 60px;
      }
      &-desc {
        font-size: 14px;
        text-align: center;
        margin-bottom: 60px;
      }
      &-search {
        width: 100%;
      }
    }
  }
}
